.title,
.root,
.footer,
.footerKeys {
  display: flex;
}

.title {
  align-items: center;
  gap: 8px;
}

.root {
  flex-direction: column;
  gap: 16px;
}

.list {
  max-height: 400px;
  overflow-y: auto;
}

.footer {
  justify-content: space-between;
  gap: 12px;
  padding-top: 12px;
  border-top: 1px solid var(--g-color-line-generic-subtle);
  color: var(--g-color-text-secondary);
  font-size: 11px;
}

.footerKeys {
  gap: 12px;
}
