.root {
    display: inline-flex;
    max-width: 100%;
    min-width: 0;
    align-items: center;
    color: var(--g-color-text-link);
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

.root:hover {
    color: var(--g-color-text-link-hover);
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
