.root {
    background-color: var(--octo-surface-1);
    border: 1px solid var(--octo-border-subtle);
    transition: transform var(--octo-motion-normal) var(--octo-motion-ease),
        box-shadow var(--octo-motion-normal) var(--octo-motion-ease);
}

.root[data-clickable] {
    cursor: pointer;
}

.root[data-clickable]:hover {
    transform: translateY(-2px);
    box-shadow: var(--mantine-shadow-md);
}
