.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  color: var(--g-color-text-secondary);
}

@media (max-width: 720px) {
  .header {
    align-items: flex-start;
    flex-direction: column;
  }
}
