.title,
.content,
.details,
.detailRow,
.actions {
  display: flex;
}

.title {
  align-items: center;
  gap: 8px;
}

.content,
.details {
  flex-direction: column;
}

.content {
  gap: 16px;
}

.details {
  gap: 8px;
}

.detailRow {
  align-items: flex-start;
  gap: 8px;
}

.path {
  flex: 1;
  word-break: break-all;
}

.actions {
  justify-content: flex-end;
  gap: 8px;
}
