.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: auto;
  padding: var(--spacing-lg);
  background-color: var(--bg-color);
}
